.email-input-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .email-input-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  .email-input-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .email-input-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms, transform 500ms;
  }
  